<!DOCTYPE html>
<html>
  <head>
    <title>UIC Night Rider</title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <h1>UIC Night Rider</h1>
      <p>Welcome to UIC ! We are here for your Safe Night Ride</p>
    </div>
  </body>
</html>
